*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #1A0B2E;
}

/* shared-style  */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.flex{
  display: flex;
}

.m-width{
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary{
  font-size: 1rem;
  color: white;
  font-weight: 500;
 padding: 12px 20px;
 border-radius: 30px;
 background-image:linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F) ;
 border: none;
}

.btn-2{
 font-size: 1rem;
  color: #00FF88;
  font-weight: 500;
 padding: 12px 20px;
 border-radius: 30px;
 background-color: transparent;
 border: 2px solid #00FF88;
}

.btn-new{
  color: black;
  font-size: 1rem;
  padding: 8px 16px ;
  font-weight: 500;
  background-color: #00FF88;
  border-radius: 25px;
  border: none;
}




/* header */

header{
  background-color: #1A0B2E;
  
}


nav{
padding: 24px 0px;
border-bottom: 1px solid #412567;
}
.nav-container{
  justify-content: space-between;
  align-items: center;
}

.nav-contents{
 gap: 32px;
}
.nav-contents {
  list-style: none;
}
.nav-contents a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.nav-icon{
  display: none;
}
/* hero-section  */

.hero-section{
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  padding: 100px 0px;
  
}



.big-mic {
  
  background-image: url(../assets/hero-circle.png);
  background-repeat: no-repeat ;
  /* background-position: center; */
  width: 350px;
  height: 350px;
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.hero-contents{
 margin-top: 40px;
}
.hero-contents h1{ 
  
  margin-bottom: 8px;
  font-size: 3.7rem;
  font-weight: bolder;
}
.hero-contents p{
  color: white;
  margin-bottom: 24px;
}
.hero-line-break{
  display: none;
}
.hero-btn{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.main-mic-container{
  position: relative;
}
.new-button{
  position: absolute;
  top: 10px;
  right: 30px;
}
/* main section  */

/* about section  */


.about-section {
  /* padding-top: 50px; */
  padding-bottom: 120px;
  padding-left: 40px ;
  padding-right: 40px;
}
.about-content{
  margin-bottom: 80px;
  text-align: center;
  padding-bottom: 80px;
  border-bottom: 1px solid #412567;
}
.about-content h2{
  font-size: 3rem;
  font-weight: bold;
}
.about-content p{
margin-top: 16px;
font-weight: 300;
line-height: 30px;
}
.about-items{
  
  display: flex;
  justify-content: space-between;
  
  
}
.item h3{
  color: #00FF88;
  font-size: 3rem;
  font-weight:800 ;
  margin-bottom: 8px;
}


/* why-chose-section */

.why-chose-section{
  background-color:#230E3D ;
  padding: 120px 0px;
}
.why-chose-container h2{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;

}
.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
 
}
.card-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.cards h4{
  margin-top: 16px;
  font-size: 1.5rem;
}
.cards p{
  margin-top: 16px;
  font-weight: 400;
  line-height: 25px;
}

.card-1, .card-2, .card-3, .card-4, .card-5 {
  padding: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
}

.card-1{
  grid-row: span 2 ;
}

 .card-2 {
  grid-column: span 2;
 }

  .card-3{
    grid-column: span 2;
  }

  .card-4{
    grid-column: span 2;
  }

    .card-5 {
      grid-column: span 1;
    }

    /* feature episode section */
    
.episode-section h2{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}
.episode-content{
  padding: 24px;
}
.episode h4{
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.episodes{
  gap: 30px;
}
    .episode{
      background-color: #250D44;
      border-radius: 20px;
      max-width: 380px;
      
    }
.video iframe{
  max-width:380px;
  max-height: 215px;
  border-radius: 20px 20px 0px 0px;
}


.episode-clock p{
  
  color: #00FF88;
}
.episode-clock {
  gap: 6px;
  margin-top: 12px;
}


/* host section  */

.host-section h2{
 text-align: center;
 font-size: 3rem ;
 font-weight: bold;
 margin-top: 120px;
 margin-bottom: 40px;
}
.host-container{
  align-items: center;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  gap: 24px;
  padding: 48px;
  margin-bottom: 120px;
}


.host-content h3{
  font-size: 2rem;
  margin-bottom:16px ;
}
.host-social{
  gap: 8px ;
  margin-top: 16px;
}

.social {
  /* max-width: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #533C72;
  padding: 10px 12px;
  border-radius: 100%;
}



/* footer section  */
footer{
  background-image: url(../assets/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  
  padding: 120px 0px;
}

.footer-container{
  flex-direction: column;
  align-items: center;
}
.footer-social{
  margin: 32px 0px;
  gap: 40px;
}

.footer-social div {
  display: flex;
  gap: 8px;
}

.footer-copy-right{
  color: #FAFAFA;
}