* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #1a0b2e;
}

/* shared-style  */
.font-inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.flex {
  display: flex;
}

.m-width {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  font-size: 1rem;
  color: white;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom left, #9100f8, #fb09b4, #f7e93f);
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.btn-2 {
  font-size: 1rem;
  color: #00ff88;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #00ff88;
  transition: transform 0.3s ease;
}
.btn-2:hover {
  transform: scale(1.05);
}

.btn-new {
  color: black;
  font-size: 1rem;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  background-color: #00ff88;
  border-radius: 25px;
  border: none;
  transition: transform 0.4s ease ;
 border: 1px solid #69f7b5;
 animation: borderAnimation 4s ease infinite;
}

@keyframes borderAnimation{
  from{
    border-color: rgb(46, 27, 255)  ;
  }
  to{
    border-color: rgb(253, 1, 1);
  }
}

.btn-new:hover{
  transform: scale(1.1);
}

/* header */

header {
  background-color: #1a0b2e;
}

nav {
  padding: 24px 0px;
  border-bottom: 1px solid #412567;
}
.nav-container {
  justify-content: space-between;
  align-items: center;
}
.logo{
  cursor: pointer;
}
.nav-contents {
  gap: 32px;
}
.nav-contents {
  list-style: none;
}
.nav-contents a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  
}

.nav-contents li{
  transition: transform 0.3s ease;
}

.nav-contents li:hover{
  transform: scale(1.3);
}

.nav-icon {
  display: none;
}


/* hero-section  */

.hero-section {
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0px;

}

.big-mic {
  background-image: url(../assets/hero-circle.png);
  background-repeat: no-repeat;
  
  width: 350px;
  height: 350px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.big-mic img{
  animation: spin 8s linear infinite;
}

@keyframes spin{
  from{
    transform: rotate(0deg);

  }
  to{
    transform: rotate(360deg);
  }
}


.hero-contents {
  margin-top: 40px;
}
.hero-contents h1 {
  margin-bottom: 8px;
  font-size: 3.7rem;
  font-weight: bolder;
}
.hero-contents p {
  color: white;
  margin-bottom: 24px;
}
.hero-line-break {
  display: none;
}
.hero-btn {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.main-mic-container {
  position: relative;
}
.new-button {
  position: absolute;
  top: 10px;
  right: 30px;
}
/* main section  */

/* about section  */

.about-section {
  
  padding-bottom: 120px;
  padding-left: 40px;
  padding-right: 40px;
}
.about-content {
  margin-bottom: 80px;
  text-align: center;
  padding-bottom: 80px;
  border-bottom: 1px solid #412567;
}
.about-content h2 {
  font-size: 3rem;
  font-weight: bold;
}
.about-content p {
  margin-top: 16px;
  font-weight: 300;
  line-height: 30px;
}
.about-items {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.item {
  
  animation: bubbleAni 1.5s linear infinite;
}

@keyframes bubbleAni{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
  
}



.item h3 {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 8px;
}

/* why-chose-section */

.why-chose-section {
  background-color: #230e3d;
  padding: 120px 0px;
}
.why-chose-container h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.card-1:hover {
  transform: scale(0.9);
}
.card-2:hover {
  transform: scale(0.9);
}
.card-3:hover {
  transform: scale(0.9);
}
.card-4:hover {
  transform: scale(0.9);
}
.card-5:hover {
  transform: scale(0.9);
}

.cards h4 {
  margin-top: 16px;
  font-size: 1.5rem;
}
.cards p {
  margin-top: 16px;
  font-weight: 400;
  line-height: 25px;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  padding: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  transition: transform 0.3s ease;
  border: 1px solid #69f7b5;
 animation: borderAnimation 5s linear infinite;

}
 


@keyframes borderAnimation{
  from{
    border-color: rgb(255, 5, 226)  ;
  }
  to{
    border-color: rgb(12, 24, 255);
  }
}



.card-1 {
  grid-row: span 2;
}

.card-2 {
  grid-column: span 2;
}

.card-3 {
  grid-column: span 2;
}

.card-4 {
  grid-column: span 2;
}

.card-5 {
  grid-column: span 1;
}

/* feature episode section */

.episode-section h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}
.episode-content {
  padding: 24px;
}
.episode h4 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.episodes {
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.episode {
  background-color: #250d44;
  border-radius: 20px;
  max-width: 380px;
  transition: transform 0.3s ease;
}
.episode:hover{
  transform: scale(1.08);
}



















.video iframe {
  max-width: 380px;
  max-height: 215px;
  border-radius: 20px 20px 0px 0px;
}

.episode-clock p {
  color: #00ff88;
}
.episode-clock {
  gap: 6px;
  margin-top: 12px;
}

/* host section  */

.host-section h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 120px;
  margin-bottom: 40px;
}
.host-container {
  align-items: center;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  gap: 24px;
  padding: 48px;
  margin-bottom: 120px;
  transition: transform 0.3s ease ;
}

.host-container:hover {
 transform: scale(0.92);
}

.host-content h3 {
  font-size: 2rem;
  margin-bottom: 16px;
}
.host-social {
  gap: 8px;
  margin-top: 16px;
}

.social {
  /* max-width: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #533c72;
  padding: 10px 12px;
  border-radius: 100%;
}

/* footer section  */
footer {
  background-image: url(../assets/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #230d3d;
  padding: 120px 0px;
}

.footer-container {
  flex-direction: column;
  align-items: center;
}
.footer-social {
  margin: 32px 0px;
  gap: 40px;
}

.footer-social div {
  display: flex;
  gap: 8px;
}

.footer-copy-right {
  color: #fafafa;
}
