
@media screen and (max-width: 576px) {
  
 .nav-contents{
  display: none;
 }
nav .btn-primary {
 display: none ;
}
.nav-icon{
  display: flex;
}

/* hero-section  */
.hero-section{
  background-size: contain;

    /* flex-direction: column; */
  /* align-items: center; */
  /* text-align: center; */
  /* gap: 40px; */
  /* background-image: url(../assets/hero-bg.png); */
  /* background-repeat: no-repeat; */
  /* background-size: cover ; */
  /* background-position: center; */
  padding: 0px 0px;
}

.hero-contents{
 margin-top: 24px;
}

.hero-contents h1{ 
  
  margin-bottom: 8px;
  font-size: 2.7rem;
  font-weight: bolder;
}
.hero-line-break{
  display: flex;
}
.big-mic{
  width:250px ;
  height: 250px;
  background-size: contain;
  margin-top: 100px;
}
.big-mic img {
  max-width: 46px;
}


.hero-btn{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.new-button{
  position: absolute;
  top: 110px;
  right: 5px;
}

/* about- section */
.about-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  gap: 30px;
  text-align: center;
}
.item h3{
 
  font-size: 2.7rem;
  
}

/* why chose section  */

.cards{
   grid-template-columns: 1fr;
   /* grid-template-rows: 1fr; */
}
.card-1{
  grid-row: span 1 ;
}
 .card-2 {
  grid-column: span 1;
 }

  .card-3{
    grid-column: span 1;
  }

  .card-4{
    grid-column: span 1;
  }
 .card-5 {
      grid-column: span 1;
    }


/* episode section  */

.episodes{
  flex-direction: column;
  align-items: center;
}







}