
@media screen and (max-width: 576px) {
  
 .nav-contents{
  display: none;
 }
nav .btn-primary {
 display: none ;
}
.nav-icon{
  display: flex;
}

/* hero-section  */
.hero-section{
  background-size: contain;

    /* flex-direction: column; */
  /* align-items: center; */
  /* text-align: center; */
  /* gap: 40px; */
  /* background-image: url(../assets/hero-bg.png); */
  /* background-repeat: no-repeat; */
  /* background-size: cover ; */
  /* background-position: center; */
  padding: 0px 0px;
}

.hero-contents{
 margin-top: 24px;
}

.hero-contents h1{ 
  
  margin-bottom: 8px;
  font-size: 2.7rem;
  font-weight: bolder;
}
.hero-line-break{
  display: flex;
}
.big-mic{
  width:250px ;
  height: 250px;
  background-size: contain;
  margin-top: 100px;
}
.big-mic img {
  max-width: 46px;
}


.hero-btn{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
}














}