
@media screen and (max-width: 576px) {
  
nav{
padding: 20px 5px;
}


 .nav-contents{
  display: none;
 }
nav .btn-primary {
 display: none ;
}
.nav-icon{
  display: flex;
}

.logo img{
  max-width: 180px;
  
}



/* hero-section  */
.hero-section{
  background-size: contain;
/* background-color: #1A0F3B; */
    /* flex-direction: column; */
  /* align-items: center; */
  /* text-align: center; */
  /* gap: 40px; */
  /* background-image: url(../assets/hero-bg.png); */
  /* background-repeat: no-repeat; */
  /* background-size: cover ; */
  background-position: center 80px;
  padding: 0px 0px;
  /* margin-top: 100px; */
}

.hero-contents{
 margin-top: 24px;
}

.hero-contents h1{ 
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 2.7rem;
  font-weight: bolder;
}
.hero-line-break{
  display: flex;
}
.big-mic{
  margin-top: 50px;
  width:250px ;
  height: 250px;
  background-size: contain;
  /* margin-top: 100px; */
  

}
.big-mic img {
  max-width: 46px;
}


.hero-btn{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.new-button{
  position: absolute;
  top: 62px;
  right:8px;
}

/* about- section */

.about-content{
  margin-top: 40px;
}
.about-content h2{
  font-size: 2rem;
}
.about-content p{
margin-top: 16px;
line-height: 20px;
}
.about-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  gap: 30px;
  text-align: center;
}
.item h3{
 
  font-size: 2.7rem;
  
}

/* why chose section  */
.why-chose-section{
  padding: 50px 5px;
}
.why-chose-section h2{
  font-size: 2rem ;
  /* padding: 0px 0px 50px 0px; */
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.cards{
   grid-template-columns: 1fr;
   gap: 20px;
   /* grid-template-rows: 1fr; */
}
.card-1{
  grid-row: span 1 ;
}
 .card-2 {
  grid-column: span 1;
 }

  .card-3{
    grid-column: span 1;
  }

  .card-4{
    grid-column: span 1;
  }
 .card-5 {
      grid-column: span 1;
    }


/* episode section  */
.episode-section h2{
  margin-top: 60px;
  font-size: 2.5rem;
}
.episodes{
  flex-direction: column;
  align-items: center;
}

/* host- section  */
.host-section{
padding: 0px 5px;
}
.host-section h2{
  font-size: 2.5rem;
  margin-top: 60px;
}

.host-container{
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}
.host-social{
  justify-content: center;
}


/* footer section  */
.footer{
  background-position: center;
  background-size:150% auto;
  background-color: #210E41;
  /* background-size:auto ; */
  padding: 50px 0px;
}
.footer-container{

}
.footer-logo{
  margin-top: 30px;
}
.footer-logo img{
  max-width: 220px;
  margin: 0 auto;
}

.footer-social{
 max-width: 255px;
 flex-wrap: wrap;
 justify-content: center;
  /* display: grid; */
   gap: 16px;
  /* grid-template-columns: repeat(2, 1fr); */
  text-align: center;
}








}